<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/canoas.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!------FowtAwesome CDN Link-------->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

        <title>Las Canoas</title>
    </head>
  <body data-barba="wrapper">
    <div class="load-container">
      <div class="load-screen"></div>
    </div>
    
    <main data-barba="container" data-barba-namespace="about-section">

            <!--barra de navegacion-->
            <div id="mainNavigation">
              <div class="navbar-expand-md">
                  <div class="navbar-dark text-center my-2">
                  </div>
                  <div class="text-center mt-3 navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav mx-auto ">
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/ ">Inicio</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/about">Sobre Nosotros</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="https://www.google.com/maps/dir//marina+las+canoas/@10.533167,-68.925529,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8e810d6119a718f1:0x26d8ba945d85466d!2m2!1d-68.2886015!2d10.8605999?entry=ttu">Ubicacion</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/services">Nuestros Servicios</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#"></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
    <!--fin de la barra de navegacion-->  
  
  <!-- Contenido de la página 2 -->
<header class="espaciado text-white text-center py-2 mb-4">
  <div class="container">
    <h1 class="texto-sombreado font-weight-light animate-this" style="background-color: transparent;">Navega con nosotros en Marina Las Canoas</h1>
  </div>
</header>

    <div class="container animate-this">
        <div class="row">
            <div class="col-md-8 mb-5 content-box texto-blanco texto-sombreado recuadro-material">
                <h2>¿Quiénes somos?</h2>
                <p>Somos Marina Las Canoas, una empresa dedicada a ofrecer servicios de estacionamiento seguro para barcos. Nuestros estacionamientos están equipados con los sistemas de seguridad más modernos y son monitoreados las 24 horas del día, los 7 días de la semana.</p>
            
            </div>
        </div>
    </div>
                <!-- Agrega una imagen a la pagina -->
                <img src="/static/us.jpg" class="imagen-centrada animate-this" alt="nosotros">
                <!-- Fin de la imagen -->
                
    <div class="container espaciado">
        <div class="row">
            <div class="col-md-8 mb-5 content-box text-white recuadro-material animate-this texto-sombreado">
                <h2>Nuestra misión</h2>
                <p>Nuestra misión es proporcionar un servicio excepcional a nuestros clientes y garantizar que sus barcos estén seguros y bien cuidados mientras están en nuestro cuidado.</p>

                <h2>Nuestra visión</h2>
                <p>Esperamos convertirnos en la marina líder en nuestra región, conocida por su excelente servicio al cliente y su compromiso con la seguridad y el cuidado de los barcos de nuestros clientes.</p>

                <h2>Contacto</h2>
                <p>Para más información, por favor contáctanos en info@marinalascanoas.com o llámanos al (123) 456-7890.</p>
            </div>

            <div class="col-md-4 mb-5 content-box text-white recuadro-material animate-this texto-sombreado">
                <h2>Direccion</h2>
                <hr>
                <address>
                    <strong>Marina Las Canoas</strong>
                    <br>123 Calle Principal
                </address>
            </div>

        </div>

    </div>
    </main>

      <script src="/static/main.js"></script>
      <!-- Barba animaciones -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
      <script src="https://unpkg.com/@barba/core"></script>
      <script src="/static/transitions.js"></script>
      <!--Final barba animaciones -->
      <!-- jsdelivr -->
      <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
      <!-- unpkg -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  </body>
<html>
